
<div class="posts-wrapper container">
    <!--コンテナ-->
    <div class="side1 col-sm-3  bg-primary hidden-xs">side1</div>
    <div class="main col-sm-6 col-xs-6 bg-info">main</div>
    <div class="side2 col-sm-3 col-xs-6 bg-success">side2</div>
    
    <div class="logo text-center">
        <img src="assets/main.jpg">
    </div>
    <!--新規投稿-->
    
    <div class="new-post-wrapper container col-sm-8 col-sm-offset-2">
        <h2 class="heading-new-post">さあ、あなたも今日のひらめきを投稿しよう！</h2>
        <!--ログインユーザーが存在する時だけ投稿画面を表示-->
        <% if current_user %>
            <!--投稿の中身は部分テンプレート内に記述-->
            <%= render partial: 'top/new_post', locals: {post: @post} %>
        <% end %>
        
    </div>
     
    
    
    <!--投稿一覧-->
    <div class="posts-container col-sm-offset-2 col-sm-8" style="padding-top:50px;">
        
        <!--投稿一覧のパネル-->
        <div class="panel panel-warning">
            <!--パネルヘッダー-->
            <div class="panel-heading">
                <p class="text-center">投稿一覧</p>
            </div>
            <!--パネルコンテンツ-->
            <div class="panel-body">
                <div class="post-contents" id="post-contents">
                    <%= render partial: "post",collection: @posts %>
                </div>
                
                <div class="text-center" id="paginate">
                    <%= paginate @posts %>
                </div>
            </div>
        </div>
        
</div>

