<div class="post-detail-wrapper">
    <div class="post-detail-container">
        <div class="post_user">
            <%= link_to "#{@user.nickname}さんの投稿", user_path(@user) %>
        </div>
        
        <div class="post-content">
            <p><%= @post.text %></p>
            <p><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
        </div>
        
        <div class="post-comments-container">
            <div class="commnets-title">
                <p>投稿に対するみんなのコメント</p>
            </div>
            <div class="comments-contents">
                <%=render partial: "comment", collection: @comments %>
            </div>
        </div>
    </div>
</div>