/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

/*a {*/
/* text-decoration:none;*/
/*}*/
 
/*.blog-header {*/
/*    height:60px;*/
/*    background-color:#00CC99;*/
/*    color:white;*/
/*    position:fixed;*/
/*    width:100%;*/
/*    z-index:10;*/
    
/*}*/

/*.blog-title-wrapper {*/
/*    float:left;*/
/*}*/

/*.blog-title {*/
/*    position:relative;*/
/*    padding:0px 20px;*/
/*    line-height:60px;*/
/*    font-size:20px;*/
/*    font-weight:bold;*/
/*}*/


/*.blog-navigation {*/
/*    position:relative;*/
/*    float:right;*/
/*}*/


/*.blog-navigation li {*/
/*    float:left;*/
/*    margin:0px 20px;*/
/*    list-style:none;*/
/*    line-height:60px;*/
/*}*/

/*.header-link {*/
/*    color:inherit;*/
/*}*/

/*.contents-wrapper {*/
/*    position:relative;*/
/*    top:60px;*/
/*}*/

.site-header {
    background-image:url("backgroundblue.jpeg");
    background-size:cover;
    /*height:70px;*/
}

.contents-wrapper {
    /*background-image:url("/images/header.jpg");*/
    padding-top:50px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

