// // Place all the styles related to the top controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/


// // 元のコード

.posts-wrapper {
  padding-top:50px;
}

.logo {
    img {
        height:400px;
        width:100%;
    }
}

.post-content {
    padding-bottom:15px;
    border-bottom:1px solid #F1F1F1;
    margin:10px auto;
    background-color:white;
    
    img {
        margin:5px 5px;
    }
    
}

