// // Place all the styles related to the top controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/


// // 元のコード

.posts-wrapper {
   
}
.post-content {
    border:groove;
    width:50%;
    margin:10px auto;
    background-color:white;
    
}

.btn-submit {
    display:block;
    
}

.text-content {
    font-size:20px;
}

