// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 機能面のCSS*/
.btn:hover {
            text-decoration: underline;
            color:red;
        }
        
        
/* 構成面のCSS*/
.mypage-wrapper {
    padding-top:50px;
}

.profile {
    
    
}

        
.profile-title {
        p {
            display: inline;
        }
}

.login-user-contents {
    margin-top:20px;
}

// ここから編集ページのsass

.form_text {
    border-radius:5px;
    border:1px solid #666666;
}

.user-post-content {
    margin-top: 10px;
    padding-bottom:10px;
    border-bottom: 1px solid #F1F1F1;
    
}